<div>
  <h1 class="text-center">COOL ARTICLES CONTENT</h1>
  <div class="alert alert-warning" ng-show="feeds.length == 0">
    You have no feeds
  </div>

  <div masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".item"}'>
    <div ng-repeat="feed in feeds">
      <div class="item">
        <div class="box">
          <p><img src="{{feed.image}}" class="img-responsive" alt="{{feed.title}}" /></p>
          <p>{{feed.description}}</p>
          <p><a href="#/feeds/{{feed._id}}" title="{{feed.title}}" target="_blank">{{feed.title}}</a></p>
          <p class="clearfix">
            <span class="pull-left"><span class="glyphicon glyphicon-share"></span> {{feed.user_ids.length || 0}}</span>
            <span class="pull-right">{{feed.like_count || 0}}<span class="glyphicon glyphicon-heart"></span></span>
          </p>
        </div>
      </div>

    </div>

  </div>

</div>